
.grid{
    display: grid;
    align-content: center;
    place-items: center;
    min-height: 105vh;
    &--watertank{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


// container
.street{
    grid-template-columns: 1fr 1fr 1fr;
    top: 0;
    overflow: hidden;
    height: 120vh;
    width: 100vw;
}

.bathroom {
    width: 100vw;
    height: 100vh;
}

.flex{
    display: flex;
}
.questions{
    align-self: center;
    flex: 0 1 500px;
}
.bathroom--container{
    display: flex;
    justify-content: flex-end;
}