
.grid{
    display: grid;
    align-content: center;
    place-items: center;
    min-height: 105vh;
    &--watertank{
        grid-template-columns: 1fr 1fr 1fr;
    }
}



.street{
    grid-template-columns: 1fr 1fr 1fr;
    top: 0;
    overflow: hidden;
    height: 120vh;
    width: 100vw;
}

.bathroom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    place-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 105vh;
    &--conatiner{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

.questions{
    margin-inline: 30%;
}

.endText {
    text-align: center;
    margin-top:5%;

    p {
        margin: 1% 0 1% 0;
    }    
}