
section{
    display: grid;
    align-content: center;
    place-items: center;
    min-height: 105vh;

    h2 {
        margin-bottom: 2%;
    };
}


// container
.street{
    grid-template-columns: 1fr 1fr 1fr;
    top: 0;
    overflow: hidden;
    height: 120vh;
    width: 100vw;
}

.bathroom {
    width: 100vw;
    height: 100vh;

    h2 {
        color:black;
    }
}
.watertank{
    grid-template-columns: 1fr 1fr 1fr;
}