@keyframes movezoom {
    0% {
        transform: translate(0, 0) scale(1);
    }
    50% {
        transform: translate(1690%, 1px) scale(70);
    }
    100% {
        transform: translate(0, 0) scale(1);
    }
}

.hide {
    transition: all 1s;
    opacity: 0;
    filter: blur(5px);
    transform: translateY(200px);
};

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
};

.street{
    .animate{
        animation: movezoom 15s ease-in-out forwards;  
    }
    &--house__1{
        transform: translate(0, 0) scale(1);
        z-index: 3;
    }
}

/*
 Adding this for later
@media (prefers-reduced-motion) {

}
*/
