@keyframes movezoom {
    0% {
        transform: translate(0, 0) scale(1);
    }
    100% {
        transform: translate(1690%, 1px) scale(70);
    }
}

.hide {
    transition: all 1s;
    opacity: 0;
    filter: blur(5px);
    transform: translateY(200px);
};

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
};

.street{
    .animate{
        animation: movezoom 15s ease-in-out forwards; 
        animation-delay: 1s; 
    }
    &--house__1{
        transform: translate(0, 0) scale(1);
        z-index: 3;
    }
}

/*
 Adding this for later
@media (prefers-reduced-motion) {

}
*/
.water--meter__level {
    transition: height 0.5s ease, width 0.5s ease;
  }
.stage{
    &-0{
        height: 21%;
    }
    &-1{
        height: 34%;
    }    
    &-2{
        height: 50%;
    }    
    &-3{
        height: 92%;
    }
}