.button{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 1rem;
    margin-block: 1rem;
    .false{
        background-color: red;
    }
    .correct{
        background-color: forestgreen;
    }
    button{
        background-color: #867863;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: clamp(14px, calc(0.5rem + 1vw), 20px);
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }
}


