figure{
    width: 15vw;
    figcaption{
        margin-top: 20%;
    }
}
.largest{
    transform: scale(1.3);
}
.smallest{
    transform: scale(0.7);
}
.bathroom{
    &--container{
        width: 50%;
        &__washing{
            width: 50%;
            padding-block-start: 5%;
        }
        &__shower{
            width: 50%;
            
        }
        &__bath{
            width: 50%;
            
            padding-inline-end: 30%;
            padding-block-start: 30%;
        }
        &__toilet{
            width: 50%;
            padding-inline-end: 20%;
            padding-block-start: 30%;
        }
    }
   
}
.water--meter{
    width: 100%;
    position: relative;
    overflow: hidden;
    &__sticky{
        width: 8%;
        position: sticky;
        top: 10%;
        left: 90%;
        z-index: 1;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
        &-hidden{
            opacity: 0;
        }
    }
    &__level{
        position: absolute;
        width: auto;
        height: 0px;
        bottom: 13%;
        z-index: -1;
    }
    &__tank {
        z-index: 1;
    }
}
