//abimation for the wave
@keyframes moveWave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
//variable for the mask gradient applied for the wave svg
$gradient-mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);

// Makes the water move up and down, makiking it look like its moving.

.water--container {
  margin: 0;
  padding: 0;
  position: relative;
  animation: moveWave 2s infinite ease-in-out;

  &__alex {
    position:absolute;
    z-index: 0;
    height:15%;
    left:35%;
    top:2%;
    
  }
  p{
    position: absolute;
    margin-inline-start: 5%;
    z-index: 1;
    &:nth-child(3){
      top: 20%;
    }
    &:nth-child(4){
      top: 40%;
    }
  }
  &__wave{
    mask-image: $gradient-mask;
  }
}