@use "layout/layout";
@use "layout/container";
@use "components/button";
@use "_reset.scss";
@use "components/animations.scss";

$header-font: "Lucida Console", "Courier New", monospace;
$regular-font: Arial, Helvetica, sans-serif;
$text: white;

h1,h2,h3 {
    font-family: $header-font;
    color: $text;
}

p {
    font-family: $regular-font;
    color: $text;
}

.container {
    background: linear-gradient(rgba(6, 0, 37, 1) 60%, rgba(145, 152, 229, 1)) 100%;
}
.street{
    background: linear-gradient(rgb(145, 152, 229, 1) 60%, green) 100%;
}

.questions {
    
    h3 {
        color:black;
    }

    p {
        color:black;
    }
}

.bathroom {
    background-image: url(../../images/room.svg);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;
}